.imageLinkForm {
	text-align: center;
}

.textPrompt {
/*	border: 1px solid black;*/
	font-size: .75rem;
	font-weight: bold;
	line-height: 3rem;
}

.inputLink {
	width: 70%;
	padding: .5rem;
	margin: .5rem;
	border: none;
	outline-color: #2E86C1;
	font-size: .5rem;
}

.buttonDetect {
/*	border: 1px solid black;*/
	width: 30%;
	padding: .5rem;
	background-color: #2E86C1; 
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
}

.buttonDetect:hover
,.buttonDetect:active 
{
	background-color: #003d3a; 
  	color: white;
  	transition-duration: 0.4s;
}

